/code/OnlineShop/nbproject/private/
/code/OnlineShop/OnlineShop-war/nbproject/private/
/code/OnlineShop/OnlineShop-ejb/nbproject/private/
/code/OnlineShop/OnlineShop-ejb/build/
/code/OnlineShop/OnlineShop-war/build/
/code/OnlineShop/build/
/code/OnlineShop/nbbuild/
/code/OnlineShop/OnlineShop-ejb/dist/
/code/OnlineShop/OnlineShop-war/dist/
/code/OnlineShop/dist/
/code/OnlineShop/nbdist/
/code/OnlineShop/nbactions.xml
/code/OnlineShop/nb-configuration.xml
/code/OnlineShop/OnlineShop-war/web/WEB-INF/
/code/OnlineShop/OnlineShop-ejb/src/conf/META-INF/
/code/OnlineShop/OnlineShop-ejb/nbproject/project.properties

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
